body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    align-items: center;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#container {
    flex-grow: 1;
    display: flex;
}

#menu-bar {
    background-color: #eaeaea;
    flex-basis: 30%;
    border-right: 1px solid #dcdcdc;
    padding: 20px;
}

#task-container {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 20px;
}

footer {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .menu-bar, .task-container {
        flex-basis: auto;
        flex-grow: 1;
        width: 100%;
    }
}

.task-button {
    display: flex;
    justify-content: space-between; /* This ensures the name is on the left and the date is on the right */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.task-name {
    flex-grow: 1; /* Allows name to take as much space as available */
    text-align: left;
}

.task-date {
    margin-left: 20px; /* Some spacing between name and date */
    text-align: right;
}



