body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    align-items: center;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#container {
    flex-grow: 1;
    display: flex;
}

#menu-bar {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    flex-basis: 20%;
    border-right: 1px solid #dcdcdc;
    padding: 20px;
}

#task-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: min(300px, 15%);
    padding-right: min(300px, 15%);
}

footer {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    #menu-bar, #task-container {
        flex-basis: auto;
        flex-grow: 1;
        width: 100%;
    }
}

.task-button {
    display: flex;
    justify-content: space-between; /* This ensures the name is on the left and the date is on the right */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.task-name {
    flex-grow: 1; /* Allows name to take as much space as available */
    text-align: left;
}

.task-date {
    margin-left: 20px; /* Some spacing between name and date */
    text-align: right;
}

.default-projects, #project-container{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.button-default-project, .project-button {
    box-sizing: border-box;
    margin-top: 10px;
    text-align: left;
    font-family: Arial;
    color: #353434;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
  }
  
  .button-default-project:hover, .project-button:hover {
    background: #b8dbff;
    text-decoration: none;
  }

  .button-add-project{
    background-color: transparent;
    box-sizing: border-box;
    margin-top: 10px;
    color: #353434;
    font-family: Arial;
    border: none;
    font-size: 16px;
  }
  .button-add-project:hover {
    background: #b8dbff;
    text-decoration: none;

  }

  h1{
    margin-left: 20px;
  }
.modal, .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content, .modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .close, .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus, .close1:hover, .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  



